        .sticky {
        position: sticky;
        top: 0; /* Jarak dari atas saat di-scroll */
        z-index: 10;
        /* background-color: black; */
        }
    
       
    
    .hidden {
        display: none; /* Class to hide the modal */
    }
    
    
    
    .close-button:hover,
    .close-button:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .highlight {
        /* border: 2px dashed #4AAE9B; Change the border color to indicate a valid drop zone */
        background-color: rgb(198, 198, 255); 
    }
    .question-container {
        padding: 10px; /* Padding awal */
        border: 2px solid transparent; /* Border transparan untuk menghindari pergeseran */
        transition: border-color 0.13s; /* Menambahkan transisi untuk efek halus */
    }
    
    .question-container:hover {
        border-color: #3b82f6; /* Mengubah warna border saat hover */
    }
      .question-container {
          position: relative;
      }
    
      .question-container:hover .buttons-container {
          display: block; /* Tampilkan tombol hapus saat hover */
      }
    
      .editing {
        border-color: #3b82f6; /* Change border color when editing */
    }
    
    .editing .buttons-container {
        display: block; /* Show buttons container when editing */
    }

    /* Gaya untuk scrollbar */
#page-buttons {
    scrollbar-width: thin; /* Untuk Firefox */
    scrollbar-color: #4a5568 #edf2f7; /* Warna scrollbar dan latar belakang */
}

/* Gaya untuk scrollbar di Webkit (Chrome, Safari) */
#page-buttons::-webkit-scrollbar {
    width: 8px; /* Lebar scrollbar */
}

#page-buttons::-webkit-scrollbar-track {
    background: #edf2f7; /* Latar belakang track scrollbar */
}

#page-buttons::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Warna scrollbar */
    border-radius: 10px; /* Sudut membulat scrollbar */
}

#page-buttons::-webkit-scrollbar-thumb:hover {
    background-color: #2d3748; /* Warna scrollbar saat hover */
}

.page-button {
    min-width: 120px; /* Atur lebar minimum tombol */
    white-space: nowrap; /* Mencegah teks membungkus ke baris baru */
}

.questions-container {
    position: relative; /* Pastikan posisi relatif untuk elemen anak */
}

.drop-area {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    /* font: 21pt bold arial; */
    color: #bbb;
}

.drop-area span {
    font-size: 1.25rem; /* Ukuran font */
    font-weight: bold; /* Tebal */
}

.modal-logic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-height: 80%; /* Maksimal tinggi konten modal */
    overflow-y: auto; /* Menambahkan scroll jika konten melebihi batas */
    width: 80%; /* Lebar modal */
    max-width: 800px; /* Atur lebar maksimum jika diperlukan */
    margin: auto; /* Memusatkan modal */
}

.close-button {
    cursor: pointer; /* Menunjukkan bahwa ini bisa diklik */
    float: right; /* Memposisikan tombol tutup di kanan atas */
    font-size: 24px; /* Ukuran font untuk tombol tutup */
}


.btn.required-active {
    background-color: #4CAF50; /* Warna hijau */
    color: white; /* Teks putih */
}